# Ignore the Gemfile lock and dependencies
Gemfile.lock
.bundle/
vendor/

# Don't commit the rendered html to github
_site

# Ignore Jekyll metadata
.jekyll-metadata

# Ignore the ink cache
.ink-cache