---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.sidebar {
    @include breakpoint($large) {
	/* Keep the sidebar image at full opacity */
	opacity: 1.0;

	.author__content, .author__urls-wrapper {
	    /* Keep the rest of the sidebar slightly dimmed unless hovered over */
	    opacity: 0.75;
	    &:hover {
		opacity: 1;
	    }
	}
    }

    /* Remove the border and padding around my headshot */
    .author__avatar img {
	padding: 0px;
	border: 0px;
    }
}

#about-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

p > code, a > code, li > code, figcaption > code, td > code {
    white-space: nowrap; // Don't split an inline code section across multiple lines
    background: #e4e4e4; // Make the code background more pronounced
}

// Style applied to the "Thanks to _____ for giving me feedback" section
p.page__meta-editors {
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 12px;
}

// Helper class for displaying two columns of code side-by-side
table.two-column-code {
    display: table;
    // By default, this theme makes text smaller inside tables. We don't want that.
    font-size: inherit;
    td:nth-of-type(1) {
        padding-right: 2em;
        border-right: 1px solid #b6b6b6;
        border-bottom: unset;
        > div {
            float: right;
        }
    }
    td:nth-of-type(2) {
        padding-left: 2em;
        border-bottom: unset;
        > div {
            float: left;
        }
    }
    tr {
        padding-top: 0.75em;
    }
}

.image {
  margin-bottom: 1.3em;
  text-align: center;
}
